@import url("style/header.css");

:root {
    --cor-fundo-carrossel: #EBECEE;
    --cor-fundo: #FFFFFF;
    --cor-laranja: #EB9B00;
    --cor-azul: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);

}

body {
    background-color: var(--cor-fundo-carrossel);
}

