.banner {
    background: var(--cor-azul);
    color: var(--cor-branca);
    text-align: center;
    padding: 2.5em 2em;
}

.banner__titulo {
    font-size: 1.05rem;
    font-weight: 700;
}

.banner__texto {
    font-size: 1rem;
    font-weight: 500;
    margin: 1em 0;
}

.banner__pesquisa {
    background: transparent;
    border: 1px solid var(--cor-branca);
    color: var(--cor-branca);
    border-radius: 15px;
    padding: 0.7em;
    width: 90%;
    text-align: center;
}

.banner__pesquisa::placeholder {
    font-family: var(--font-principal);
    font-weight: 400;
    font-size: 0.8rem;
    text-align: center;
    color: var(--cor-branca);
    background: url("../img/Pesquisa.svg") no-repeat;
    background-position: 0.5em;
    

}