.carrossel__titulo {
    color: var(--cor-laranja);
    background-color: var(--cor-branca);
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2rem;
    padding: 1em 0 0.5em 0;
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-prev, .swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: 0.5em 0;
}

.card__descricao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5em;
}

.card__botoes {
    display: flex;
    justify-content: space-between;
    padding: 0.9em 0;
}

.botoes {
    display: flex;
    align-items: center;
}

.card {
    border-radius: 10px;
    background: var(--cor-branca);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 1em;
    padding: 1em;
}

.descricao__titulo {
    color: var(--cor-laranja);
    font-weight: 700;
    font-size: 1rem;
}

.descricao__titulo-livro {
    color: var(--cor-azul-secundaria);
    font-weight: 700;
    margin: 0.8em 0;
}

.descricao__texto {
    font-size: 0.9rem;
    margin: 0 0.1em 0 0;
}

.descricao__estrelinhas {
    margin: 0 0 1em 0.9em;
}

.botoes__itens {
    margin: 0 0.5em;
}

.botoes__ancoras {
    background: var(--cor-laranja);
    padding: 1em 2.1em;
    align-content: center;
    border-radius: 10px;
    text-decoration: none;
    color: var(--cor-branca);
    font-weight: 700;
}

.descricao__estrelinhas {
    padding: 2em 0 0 0;
}