.contato {
    background: var(--cor-branca);
    text-align: center;
    padding: 1.5em;
}

.contato__titulo {
    background: var(--cor-azul);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0.8em 0;
    font-size: 1.2rem;
    font-weight: 700;
}

.contato__texto {
    padding: 0.5em 0;
    font-weight: 500;
    font-size: 1rem;
    color: var(--cor-azul-secundaria);
}

.contato__email {
    padding: 0.5em;
    margin: 1em 0;
    width: 70%;
    border: 2px solid var(--cor-azul-secundaria);
    border-radius: 10px;
    text-align: center;
    color: var(--cor-azul-secundaria);
}

.contato__email::placeholder {
    background-image: url("../img/Email.svg");
    background-repeat: no-repeat;
    background-position: 0.5em;
    color: var(--cor-azul-secundaria);
    font-family: var(--font-principal);
}

@media screen and (min-width: 1024px) {

    .contato {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2em;
    }

    .contato__descricao {
        margin-right: 2.5em;
        width: 35%;
    }

    .contato__titulo {
        font-size: 1.5rem;
    }

    .contato__email {
        width: 35%;
    }
}

@media screen and (min-width: 1728px) {
    .contato {
        padding: 3em 20vw;
    }
}
